@import "tailwindcss";

:root {
  /* Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Typography */
  --font-size: 16px;
  --font-family: 'Red Hat Display', sans-serif;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

@layer base {
  html {
    font-size: var(--font-size);
    font-family: var(--font-family);
  }

  body {
    background-color: var(--pale-blue);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
     /* -webkit-text-wrap: balance;
    text-wrap: balance;
    word-wrap: break-word;  */
  }
}

@theme {
  --color-pale-blue: var(--pale-blue);
  --color-bright-blue: var(--bright-blue);
  --color-very-pale-blue: var(--very-pale-blue);
  --color-desaturated-blue: var(--desaturated-blue);
  --color-dark-blue: var(--dark-blue);

  --font-size: var(--font-size);
  --font-family: var(--font-family);

  --font-weight-500: var(--font-weight-500);
  --font-weight-700: var(--font-weight-700);
  --font-weight-900: var(--font-weight-900);
}